// Base – easily overridable, generic HTML tag styles (no classes or IDs)
// Many styles used from Zurb's Foundation




// GLOBAL
// ------
 
body {
	padding: 80px 5%;
	background: #fff;
	font-family: "helvetica-neue", helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}




// TABLES
// ------

table {
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
	padding: 0.5rem 0.625rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: left;
  display: table-cell;
  line-height: 1.125rem;
}

th {
	text-transform: uppercase;
	line-height: .75rem;
	font-size: 12px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  width: 100%;
  padding: 10px 0 4px 0;
  line-height: 16px;
}




// TEXT
// ----

a {
  text-decoration: underline;
  font-size: 14px;

  &:hover {
    text-decoration: none;
  }
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}


// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h1 {font-size: 2.125rem;}

h2 {font-size: 1.6875rem;}

h3 {font-size: 1.375rem;}

h4 {font-size: 1.125rem;}

h5 {font-size: 1.125rem;}

h6 {font-size: 1rem;}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}


// Lists

ul, ol, dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  list-style: disc;
  margin-left: 1.1rem;
}

ul li ul, ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

ol {
  margin-left: 1.4rem;

  li ul, li ol {
  	margin-left: 1.25rem;
    margin-bottom: 0;
  }
}

dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

dl dd {margin-bottom: 0.75rem;}


// Miscellaneous

abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

abbr {text-transform: none;}

blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
  line-height: 1.6;

  p {
  	line-height: 1.6;
  }

  cite {
  	display: block;
  	font-size: 0.8125rem;
  	color: #555555;

  	&:before {
  		content: "\2014 \0020";
  	}

  	a, a:visited {
  		color: #555555;
  	}
  }
}




// FORMS
// -----

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;

  &:focus {
    @include box-shadow(0 0 5px #999);
    border-color: #999999;
    background: #fafafa;
    border-color: #999999;
    outline: none;
  }
}

// Adjust margin for form elements below
input[type="file"],
input[type="checkbox"],
input[type="radio"], {
	margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

// Normalize file input width
input[type="file"] {
  width: 100%;
}

select {
  -webkit-appearance: none !important;
  background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
  
  &:hover {
    background: #f3f3f3 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
    background-position-x: 97%;
    background-position-y: center;
    border-color: #999999;
  }
}

select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  select {
    background: #fafafa;

    &:hover {
     background: #f3f3f3;
    }
  }
}

// We add basic fieldset styling
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;

  legend {
  	font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
  }
}
