// Design – Base design styles
// Override these in another stylesheet file




.component-section {
	border: 3px solid #efefef;
	background: #fff;
	padding: 20px;
	margin: 25px 0;
	float: left;
	@include border-box;
	position: relative;
	width: 100%;
}

.input-component, .data-component {
	clear: both;
	margin: 10px 0;
	float: left;
	width: 100%;

	.input-box {
		background: #efefef;
	}

	&:hover {
		.input-box {
			background: #ececec;
		}

		label {
			color: #333;
			border-color: #e5e5e5;
		}
	}
}


// Nested Input Components

.input-component .input-component {
	border-left: 2px solid #e5e5e5;
}


// Nested input components inside collapsed containers

.input-component .collapsed .input-component {
	border-left: none;
}

.input-component.active {
	.input-box {
		background: #e5e5e5;
	}

	input {
		border: 1px solid #e5e5e5;
	}

	label {
		color: #333;
	}
}




// Label Components
// ----------------


// Short Label

.label-sm {
	> label {
		border-bottom: 2px solid #efefef;
	}

	// Short label fills full line when above long input
	&.input-long label {
		border-bottom: 0;
	}
}

.active label.label-sm {
	border-bottom-color: #e5e5e5;
}


// Medium Label

.label-med {
	&.input-long label {
		border-bottom: 0;
	}
}

// Force the smaller width in nested input components
.input-long .label-sm label {
	border-bottom: 2px solid #efefef;
}




// Input Components
// ----------------

.input-box {
	background: #efefef;
	border-radius: 2px;
}


// Expand & Collapse Containers

.collapsed {
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	padding: 15px;
	@include border-box;

	.input-box {
		background: #e5e5e5;
	}

	.close {
		color: #444;
		display: block;
		font-size: 20px;
		cursor: pointer;
		transition: color .2s ease-in-out;

		&:hover {
			color: #f47f43;
		}
	}

	.close-bg {
		color: #fff;
		display: block;
		font-size: 20px;
	}
}

.expandable.active {
	color: #ccc;
	text-decoration: none;
}



// Tooltips
// --------

.tooltip-box {
	display: none;
	background: #f6ec96;
	border-radius: 10px;
	color: #5c574b;
	box-shadow: 2px 4px 8px rgba(0,0,0,.2);
	font-size: 14px;
	line-height: 16px;

	&.inactive {
		display: none;
	}

	&.active {
		display: block;
	}

	.arrow {
		display: block;
		border-style: solid;
		border-width: 0 20px 20px 0;
		border-color: transparent #e4db8b transparent transparent;
	}
	
	p, li {
		font-size: 14px;
		line-height: 16px;
	}
}

// Tooltip Link/Button
.tip {
	color: #444;
	display: block;
	font-size: 20px;
	transition: color .2s ease-in-out;
	cursor: pointer;
	background: #fff;
	border: 1px solid #d9d9d9;
	@include border-radius(30px);

	&:hover {
		color: #999;
	}
}

.description {
	background: #e6f3f5;
	color: #388da1;
	font-style: italic;

	p {
		font-size: 13px;
		line-height: 16px;
	}

	&.info {
		background: #efefef;
		font-style: normal;
		color: #666;

		p {
			font-size: 14px;
			line-height: 18px;
		}

		.button {
			font-weight: 500;
		}
	}
}

.autocomplete {
	background: url(../images/ajax-loader.gif) no-repeat 98%;
}