// Layout - Basic structure (margin, padding, position, floats) for all components




// Component Containers
// --------------------

.component-section {
	padding: 20px;
	margin: 25px 0;
	float: left;
	@include border-box;
	position: relative;
	width: 100%;
}

.input-component, .data-component {
	clear: both;
	margin: 10px 0;
	float: left;
	width: 100%;
	@include border-box;
}


// Nested Input Components

.input-component .input-component {
	padding-left: 15px;
	@include border-box;
}




// Input Components
// ----------------


// Checkboxes

.checkbox label {
	display: inline;
	width: auto;
	position: relative;
	top: 1px;
}

.checkbox.label-sm > label {
	border-bottom: 0;
	padding-top: 15px;
	width: 100%;
	@include breakpoint(pond) {
		// Make room for checkbox input
		width: 45%;
	}
}

.checkbox.label-long > label {
	width: 85%;
}

.checkbox input[type="checkbox"] {
	float: left;
	margin-top: 18px;
}

// Reduce label padding on nested input components
.checkbox .input-component {
	label {padding-top: 10px;}
	input[type="checkbox"] {margin-top: 14px;}
}


// Radios

.radio {
	input[type="radio"] {
		float: left;
		margin-top: 10px;
	}

	.input-none, .input-med {
		>.input-box {float: left;}
	}
}

.option-set {
	display: block;

	label {
		float: left;
		width: auto;
	}

	input {
		clear: left;
		float: left;
	}
}


// Hidden & Collapsible

.hidden, .collapsed {
	margin-top: 5px;
	display: none;
	padding: 15px 0;
	float: left;
	width: 100%;
	position: relative;

	.close {
		display: block;
		position: absolute;
		right: -8px;
		top: -10px;
		z-index: 10;
	}

	.close-bg {
		display: block;
		position: absolute;
		right: -8px;
		top: -10px;
		z-index: 5;
	}
}


// Button Container

.button-container {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 20px;
}




// Tooltips
// --------

.tooltip-box {
	position: absolute;
	z-index: 10;
	padding: 15px;
	left: 0;

	.arrow {
		position: absolute;
		bottom: -20px;
		right: 31px;
		width: 0px;
		height: 0px;
		z-index: 100;
	}

	p, li {
		margin-bottom: 10px;
	}

	li {
		margin-bottom: 0;
	}
}

.tip {
	z-index: 10;
	position: absolute;
	right: 15px;
	top: -12px;
	padding: 2px 4px;
}

.description {
	clear: both;
	margin: 5px 0;
	float: left;
	width: 100%;
	@include border-box;
	padding: 8px;

	p {
		margin: 0;
	}

	&.info {
		margin-top: 0;

		p {
			margin: 0;
		}

		.button {
			margin: 0;
		}
	}
}




// Labels
// ------


// Short Label

.label-sm {
	> label {
		@include border-box;
		padding-top: 15px;
		float: left;
		width: 100%;
		@include breakpoint(pond) {
			width: 47.5%;
		}
	}

	// Short label fills full line when above long input
	&.input-long label {
		width: 100%;
	}
}


// Medium Label

.label-med {
	> label {
		float: left;
		width: 100%;
		@include border-box;
		padding-top: 15px;
		@include breakpoint(pond) {
			width: 47.5%;
		}
	}

	// Medium label fills full line when above long input
	&.input-long label {
		width: 100%;
		padding-bottom: 0;
	}
}


// Long Label

.label-long {
	> label {
		float: none;
		clear: both;
		width: 100%;
		@include border-box;
		padding-top: 15px;
	}

	&.input-sm .input-box {
		width: auto;
		float: none;
	}

	&.input-med .input-box {
		float: none;
		width: auto;
		clear: both;
		input {
			width: auto;
			@include breakpoint(pond) {
				width: 50%;
			}
		}
	}
}




// Input Boxes
// -----------

.input-box {
	padding: 10px;
	float: right;
	width: 100%;
}


// Short Input Box

.input-sm > .input-box {
	width: auto;
	clear: both;
	float: none;
	@include breakpoint(pond) {
		width: 47.5%;
		clear: none;
		float: right;
	}

	input[type="text"] {
		width: 75px;
	}
}


// Medium Input Box

.input-med > .input-box {
	width: auto;
	float: none;
	clear: both;
	@include breakpoint(pond) {
		float: right;
		clear: none;
		width: 47.5%;
	}

	input[type="text"] {
		width: 100%;
	}
}


// Long Input Box

.input-long > .input-box {
	clear: both;
	margin-left: 0;
	margin-right: 0;
	width: 100%;

	input[type="text"] {
		width: 100%;
	}
}

// Force the smaller width in nested input components
.input-long .label-sm label {
	width: auto;
	padding-bottom: 3px;
	@include breakpoint(pond) {
		width: 47.5%;
	}
}

.advanced .input-box {
	float: none;
	@include border-box;
}