/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../scss/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../scss/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 2, ../scss/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../scss/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 12, ../scss/partials/_reuse.scss */
.button {
  padding: 8px 16px;
  margin: 8px 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Source Sans Pro";
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  background-color: #0f4169;
  background-image: -moz-linear-gradient(#0f4169, #0d395b);
  background-image: -o-linear-gradient(#0f4169, #0d395b);
  background-image: -webkit-linear-gradient(#0f4169, #0d395b);
  background-image: linear-gradient(#0f4169, #0d395b);
  -moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
  transition: none;
}
/* line 27, ../scss/partials/_reuse.scss */
.button:after {
  content: '';
  vertical-align: middle;
}
/* line 32, ../scss/partials/_reuse.scss */
.button:hover {
  background-image: -moz-linear-gradient(#0d5893, #0b4d80);
  background-image: -o-linear-gradient(#0d5893, #0b4d80);
  background-image: -webkit-linear-gradient(#0d5893, #0b4d80);
  background-image: linear-gradient(#0d5893, #0b4d80);
  color: #fff;
}
/* line 37, ../scss/partials/_reuse.scss */
.button:active {
  color: #72eafa;
  background: #0d395b;
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
}

/* line 44, ../scss/partials/_reuse.scss */
.button.alt {
  background-color: #0f6939;
  background-image: -moz-linear-gradient(#0f6939, #0d5b32);
  background-image: -o-linear-gradient(#0f6939, #0d5b32);
  background-image: -webkit-linear-gradient(#0f6939, #0d5b32);
  background-image: linear-gradient(#0f6939, #0d5b32);
}
/* line 48, ../scss/partials/_reuse.scss */
.button.alt:hover {
  background-color: #11a559;
  background-image: -moz-linear-gradient(#11a559, #0e8e4a);
  background-image: -o-linear-gradient(#11a559, #0e8e4a);
  background-image: -webkit-linear-gradient(#11a559, #0e8e4a);
  background-image: linear-gradient(#11a559, #0e8e4a);
}
/* line 53, ../scss/partials/_reuse.scss */
.button.alt:active {
  color: #00ff7c;
  background: #0d5b32;
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
}

/* line 60, ../scss/partials/_reuse.scss */
.button.delete {
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  color: #6e1010;
}
/* line 66, ../scss/partials/_reuse.scss */
.button.delete:hover {
  color: #ae0000;
}
/* line 69, ../scss/partials/_reuse.scss */
.button.delete:hover:after {
  content: '\f05c';
  font-family: 'fontAwesome';
  margin-left: 6px;
}

/* line 77, ../scss/partials/_reuse.scss */
.button.check {
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  color: #0c5790;
}
/* line 84, ../scss/partials/_reuse.scss */
.button.check:hover:after {
  color: #0c5790;
  content: '\f05d';
  font-family: 'fontAwesome';
  margin-left: 6px;
}

/* line 93, ../scss/partials/_reuse.scss */
.button.subtle {
  background: #efefef;
  color: #444;
  padding: 4px 8px;
  font-size: 15px;
  background-image: none;
}

/* line 142, ../scss/partials/_reuse.scss */
.nomargin {
  margin: 0;
}

/* line 9, ../scss/partials/_base.scss */
body {
  padding: 80px 5%;
  background: #fff;
  font-family: "helvetica-neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 22, ../scss/partials/_base.scss */
table {
  width: 100%;
}

/* line 26, ../scss/partials/_base.scss */
td, th {
  border: 1px solid #ddd;
  padding: 0.5rem 0.625rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: left;
  display: table-cell;
  line-height: 1.125rem;
}

/* line 36, ../scss/partials/_base.scss */
th {
  text-transform: uppercase;
  line-height: .75rem;
  font-size: 12px;
}

/* line 42, ../scss/partials/_base.scss */
label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  width: 100%;
  padding: 10px 0 4px 0;
  line-height: 16px;
}

/* line 58, ../scss/partials/_base.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

/* line 67, ../scss/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

/* line 78, ../scss/partials/_base.scss */
h1 {
  font-size: 2.125rem;
}

/* line 80, ../scss/partials/_base.scss */
h2 {
  font-size: 1.6875rem;
}

/* line 82, ../scss/partials/_base.scss */
h3 {
  font-size: 1.375rem;
}

/* line 84, ../scss/partials/_base.scss */
h4 {
  font-size: 1.125rem;
}

/* line 86, ../scss/partials/_base.scss */
h5 {
  font-size: 1.125rem;
}

/* line 88, ../scss/partials/_base.scss */
h6 {
  font-size: 1rem;
}

/* line 90, ../scss/partials/_base.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* line 98, ../scss/partials/_base.scss */
em, i {
  font-style: italic;
  line-height: inherit;
}

/* line 103, ../scss/partials/_base.scss */
strong, b {
  font-weight: bold;
  line-height: inherit;
}

/* line 108, ../scss/partials/_base.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 113, ../scss/partials/_base.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #bd260d;
}

/* line 119, ../scss/partials/_base.scss */
ul, ol, dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 127, ../scss/partials/_base.scss */
ul {
  list-style: disc;
  margin-left: 1.1rem;
}

/* line 132, ../scss/partials/_base.scss */
ul li ul, ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* line 137, ../scss/partials/_base.scss */
ol {
  margin-left: 1.4rem;
}
/* line 140, ../scss/partials/_base.scss */
ol li ul, ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* line 146, ../scss/partials/_base.scss */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

/* line 151, ../scss/partials/_base.scss */
dl dd {
  margin-bottom: 0.75rem;
}

/* line 153, ../scss/partials/_base.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 162, ../scss/partials/_base.scss */
abbr {
  text-transform: none;
}

/* line 164, ../scss/partials/_base.scss */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
  line-height: 1.6;
}
/* line 170, ../scss/partials/_base.scss */
blockquote p {
  line-height: 1.6;
}
/* line 174, ../scss/partials/_base.scss */
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}
/* line 179, ../scss/partials/_base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 183, ../scss/partials/_base.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555555;
}

/* line 195, ../scss/partials/_base.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* line 229, ../scss/partials/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}

/* line 249, ../scss/partials/_base.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

/* Adjust margin for form elements below */
/* line 269, ../scss/partials/_base.scss */
input[type="file"],
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0 1rem 0;
}

/* line 275, ../scss/partials/_base.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* Normalize file input width */
/* line 284, ../scss/partials/_base.scss */
input[type="file"] {
  width: 100%;
}

/* line 288, ../scss/partials/_base.scss */
select {
  -webkit-appearance: none !important;
  background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 100%;
}
/* line 301, ../scss/partials/_base.scss */
select:hover {
  background: #f3f3f3 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border-color: #999999;
}

/* line 309, ../scss/partials/_base.scss */
select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  /* line 314, ../scss/partials/_base.scss */
  select {
    background: #fafafa;
  }
  /* line 317, ../scss/partials/_base.scss */
  select:hover {
    background: #f3f3f3;
  }
}
/* We add basic fieldset styling */
/* line 324, ../scss/partials/_base.scss */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
/* line 329, ../scss/partials/_base.scss */
fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}

/* line 4, ../scss/partials/_layout.scss */
.checkbox label {
  display: inline;
  width: auto;
  position: relative;
  top: 1px;
}

/* line 11, ../scss/partials/_layout.scss */
.hidden, .collapsed {
  margin-top: 5px;
  display: none;
  padding: 15px 0;
  float: left;
  width: 100%;
  position: relative;
}
/* line 19, ../scss/partials/_layout.scss */
.hidden .close, .collapsed .close {
  display: block;
  position: absolute;
  right: -8px;
  top: -10px;
  z-index: 10;
}
/* line 27, ../scss/partials/_layout.scss */
.hidden .close-bg, .collapsed .close-bg {
  display: block;
  position: absolute;
  right: -8px;
  top: -10px;
  z-index: 5;
}

/* line 36, ../scss/partials/_layout.scss */
.button-container {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px;
}

/* line 46, ../scss/partials/_layout.scss */
.inp-symbol {
  float: left;
  padding: 14px 8px 0 0;
}

/* line 55, ../scss/partials/_layout.scss */
.tooltip-box {
  position: absolute;
  z-index: 10;
  padding: 15px;
  left: 0;
}
/* line 61, ../scss/partials/_layout.scss */
.tooltip-box .arrow {
  position: absolute;
  bottom: -20px;
  right: 31px;
  width: 0px;
  height: 0px;
  z-index: 100;
}
/* line 70, ../scss/partials/_layout.scss */
.tooltip-box p, .tooltip-box li {
  margin-bottom: 10px;
}
/* line 74, ../scss/partials/_layout.scss */
.tooltip-box li {
  margin-bottom: 0;
}

/* line 79, ../scss/partials/_layout.scss */
.tip {
  z-index: 10;
  position: absolute;
  right: 15px;
  top: -12px;
  padding: 2px 4px;
}

/* line 87, ../scss/partials/_layout.scss */
.component-section {
  padding: 20px;
  margin: 25px 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/* line 96, ../scss/partials/_layout.scss */
.input-component, .data-component {
  clear: both;
  margin: 10px 0;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 105, ../scss/partials/_layout.scss */
.input-component .input-component {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 110, ../scss/partials/_layout.scss */
.description {
  clear: both;
  margin: 5px 0;
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}
/* line 118, ../scss/partials/_layout.scss */
.description p {
  margin: 0;
}

/* line 123, ../scss/partials/_layout.scss */
.description.info {
  margin-top: 0;
}
/* line 126, ../scss/partials/_layout.scss */
.description.info p {
  margin: 0;
}
/* line 130, ../scss/partials/_layout.scss */
.description.info .button {
  margin: 0;
}

/* line 143, ../scss/partials/_layout.scss */
.label-sm > label {
  float: left;
  width: 47.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
}
/* line 151, ../scss/partials/_layout.scss */
.label-sm.input-long label {
  width: 100%;
}

/* line 158, ../scss/partials/_layout.scss */
.label-med > label {
  float: left;
  width: 47.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
}
/* line 166, ../scss/partials/_layout.scss */
.label-med.input-long label {
  width: 100%;
  padding-bottom: 0;
}

/* line 174, ../scss/partials/_layout.scss */
.label-long > label {
  float: none;
  clear: both;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
}
/* line 182, ../scss/partials/_layout.scss */
.label-long.input-sm .input-box {
  width: auto;
  float: none;
}
/* line 187, ../scss/partials/_layout.scss */
.label-long.input-med .input-box {
  float: none;
  width: auto;
}
/* line 190, ../scss/partials/_layout.scss */
.label-long.input-med .input-box input {
  width: 50%;
}

/* line 197, ../scss/partials/_layout.scss */
.input-long .label-sm label {
  width: 47.5%;
  padding-bottom: 3px;
}

/* line 204, ../scss/partials/_layout.scss */
.input-box {
  padding: 10px;
  float: right;
  width: 100%;
}

/* line 211, ../scss/partials/_layout.scss */
.input-sm > .input-box {
  width: 47.5%;
}
/* line 214, ../scss/partials/_layout.scss */
.input-sm > .input-box input[type="text"] {
  width: 75px;
}

/* line 220, ../scss/partials/_layout.scss */
.input-med > .input-box {
  width: 47.5%;
}
/* line 223, ../scss/partials/_layout.scss */
.input-med > .input-box input[type="text"] {
  width: 100%;
}

/* line 229, ../scss/partials/_layout.scss */
.input-long > .input-box {
  clear: both;
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
/* line 236, ../scss/partials/_layout.scss */
.input-long > .input-box input[type="text"] {
  width: 100%;
}

/* line 241, ../scss/partials/_layout.scss */
.advanced .input-box {
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../scss/partials/_design.scss */
a {
  color: #e78339;
  text-decoration: underline;
  font-size: 14px;
}
/* line 8, ../scss/partials/_design.scss */
a:hover {
  color: #e78339;
  text-decoration: none;
}

/* line 14, ../scss/partials/_design.scss */
.advanced.active {
  color: #ccc;
  text-decoration: none;
}

/* line 19, ../scss/partials/_design.scss */
.hidden, .collapsed {
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 26, ../scss/partials/_design.scss */
.hidden .inp-box, .collapsed .inp-box {
  background: #e5e5e5;
}
/* line 30, ../scss/partials/_design.scss */
.hidden .close, .collapsed .close {
  color: #444;
  display: block;
  font-size: 20px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}
/* line 37, ../scss/partials/_design.scss */
.hidden .close:hover, .collapsed .close:hover {
  color: #f47f43;
}
/* line 42, ../scss/partials/_design.scss */
.hidden .close-bg, .collapsed .close-bg {
  color: #fff;
  display: block;
  font-size: 20px;
}

/* line 51, ../scss/partials/_design.scss */
.tooltip-box {
  display: none;
  background: #f6ec96;
  border-radius: 10px;
  color: #5c574b;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 16px;
}
/* line 60, ../scss/partials/_design.scss */
.tooltip-box .arrow {
  display: block;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #e4db8b transparent transparent;
}
/* line 67, ../scss/partials/_design.scss */
.tooltip-box p, .tooltip-box li {
  font-size: 14px;
  line-height: 16px;
}
/* line 72, ../scss/partials/_design.scss */
.tooltip-box.inactive {
  display: none;
}
/* line 76, ../scss/partials/_design.scss */
.tooltip-box.active {
  display: block;
}

/* line 81, ../scss/partials/_design.scss */
.tip {
  color: #444;
  display: block;
  font-size: 20px;
  transition: color .2s ease-in-out;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 91, ../scss/partials/_design.scss */
.tip:hover {
  color: #f47f43;
}

/* line 96, ../scss/partials/_design.scss */
.component-section {
  border: 3px solid #efefef;
  background: #fff;
  padding: 20px;
  margin: 25px 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

/* line 107, ../scss/partials/_design.scss */
.input-component, .data-component {
  clear: both;
  margin: 10px 0;
  float: left;
  width: 100%;
}
/* line 113, ../scss/partials/_design.scss */
.input-component .inp-box, .data-component .inp-box {
  background: #efefef;
}
/* line 118, ../scss/partials/_design.scss */
.input-component:hover label, .data-component:hover label {
  color: #333;
  border-color: #e5e5e5;
}

/* line 126, ../scss/partials/_design.scss */
.input-component .input-component {
  border-left: 2px solid #e5e5e5;
}

/* line 131, ../scss/partials/_design.scss */
.input-component .collapsed .input-component {
  border-left: none;
}

/* line 136, ../scss/partials/_design.scss */
.input-component.active .inp-box {
  background: #e5e5e5;
}
/* line 140, ../scss/partials/_design.scss */
.input-component.active input {
  border: 1px solid #e5e5e5;
}
/* line 144, ../scss/partials/_design.scss */
.input-component.active label, .input-component.active .inp-symbol {
  color: #333;
}

/* line 149, ../scss/partials/_design.scss */
.description {
  background: #e6f3f5;
  color: #388da1;
  font-style: italic;
}
/* line 154, ../scss/partials/_design.scss */
.description p {
  font-size: 13px;
  line-height: 16px;
}

/* line 160, ../scss/partials/_design.scss */
.description.info {
  background: #efefef;
  font-style: normal;
  color: #666;
}
/* line 165, ../scss/partials/_design.scss */
.description.info p {
  font-size: 14px;
  line-height: 18px;
}
/* line 170, ../scss/partials/_design.scss */
.description.info .button {
  font-weight: 500;
}

/* line 175, ../scss/partials/_design.scss */
.autocomplete {
  background: url(../images/ajax-loader.gif) no-repeat 95%;
}

/* line 185, ../scss/partials/_design.scss */
.active label.label-sm {
  border-bottom-color: #e5e5e5;
}

/* line 192, ../scss/partials/_design.scss */
.label-sm > label {
  border-bottom: 2px solid #efefef;
}
/* line 197, ../scss/partials/_design.scss */
.label-sm.input-long label {
  border-bottom: 0;
}

/* line 205, ../scss/partials/_design.scss */
.label-med.input-long label {
  border-bottom: 0;
}

/* line 211, ../scss/partials/_design.scss */
.input-long .label-sm label {
  border-bottom: 2px solid #efefef;
}

/* line 220, ../scss/partials/_design.scss */
.inp-symbol {
  float: left;
  padding: 14px 8px 0 0;
  color: #666;
}

/* line 226, ../scss/partials/_design.scss */
.input-box {
  background: #efefef;
  border-radius: 2px;
}
